[Unit]
Description=Install flatpak apps
After=multi-user.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/bash /usr/local/bin/configure-sources-list
Type=simple

[Install]
WantedBy=multi-user.target
